* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

video {
  pointer-events: none;
}

video::-webkit-media-controls-panel {
  display: none !important;
}

.loading-container {
  position: absolute;
  height: var(--100vh, 100%);
  width: 100%;
  background-color: #000;
  z-index: 1001;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  fill: white;
}

.camera-container * {
  -webkit-tap-highlight-color: transparent;
}

.camera-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--100vh, 100%);
  background-color: #000;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.camera-body {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.viewfinder-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.camera-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom-slider-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.zoom-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 160px;
}

.zoom-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 90px;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.custom-zoom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}

.zoom-value-label {
  width: 32px;
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 8px;
  border-radius: 50%;
  -webkit-user-select: none;
}

.zoom-value-label.active {
  color: #FFD700;
  background: rgba(0, 0, 0, 0.4);
}

.zoom-slider-track-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  min-height: 40px;
  align-items: center;
  padding: 20px 0 220px;
  margin-top: 5px;
}

.zoom-slider-track-container.hidden {
  display: none;
}

.zoom-slider-track {
  position: relative;
  width: 90%;
  height: 20px;
}

.zoom-slider-track::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    to right,
    white,
    white 1px,
    transparent 1px,
    transparent 10px
  );
  opacity: 0.6;
}

.zoom-indicator {
  position: absolute;
  top: 0;
  width: 2px;
  height: 25px;
  background-color: #FFD700;
  transform: translateX(-1px);
  z-index: 2;
}

.zoom-touch-area {
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  /* background-color: rgba(255, 0, 0, 0.2); */
}

.open-zoom-slider {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50px;
}

.open-zoom-slider > .icons-actions-container {
  width: 17px;
}

.open-zoom-slider > .icons-actions-container.active {
  fill: #FFD700;
}

.icons-photo-actions {
  width: 16px;
  fill: white;
}

.icons-actions-container {
  width: 20px;
  fill: white;
}

/* Shutter Button */
.shutter-btn {
  user-select: none;
  width: 70px;
  height: 70px;
  border-radius: 90px;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px rgb(51 51 51 / 50%), 
    0 4px 10px rgba(0, 0, 0, 0.25), 
    inset 0 0 5px rgba(255, 255, 255, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  -webkit-user-select: none;
}

.shutter-btn:hover {
  cursor: pointer;
  box-shadow:
    0 0 10px rgb(51 51 51 / 50%),
    0 4px 10px rgba(0, 0, 0, 0.25),
    inset 0 0 5px rgba(255, 255, 255, 0.5);
}

.shutter-btn:active {
  transform: scale(0.95);
  box-shadow:
    0 0 6px rgba(0, 0, 0, 0.2),
    0 2px 6px rgba(0, 0, 0, 0.25),
    inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.shutter-btn.animate {
  animation: shutterClick 200ms ease-in-out;
}

/* Mobile Controls */
.mobile-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  z-index: 1000;
  flex-direction: column;
  gap: 6px;
  user-select: none;
  -webkit-user-select: none;
}

.mobile-actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
}

.mobile-flash-container {
  user-select: none;
  width: 45px;
  height: 45px;
  -webkit-user-select: none;
}

.mobile-switch, .mobile-flash, .leave-camera-btn, .add-more-photos-btn, .previous-photo-btn {
  user-select: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: transform 0.2s ease;
  -webkit-user-select: none;
}

.mobile-switch:active, .mobile-flash:active, .leave-camera-btn:active {
  transform: scale(0.95);
}

.switch-cam-btn.animate {
  animation: switchCamFlip 0.5s ease-in-out;
}

.camera-select {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

/* Desktop Controls */
.desktop-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-top-bar {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.desktop-top-bar .flash-btn,
.desktop-top-bar .switch-cam-btn {
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  transition: background-color 0.3s ease;
}

.desktop-top-bar .flash-btn:hover,
.desktop-top-bar .switch-cam-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.desktop-top-bar .zoom-level {
  text-align: center;
  font-size: 16px;
  color: white;
  width: 42px;
  height: 42px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Photo Preview */
.photo-preview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.captured-photo {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.photo-actions {
  gap: 15px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  right: 0;
  left: 0;
}

.photo-action-btn {
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.photo-action-btn.download-btn {
  background: #2f8ee5;
  gap: 6px;
}

.photo-action-btn.close-btn {
  background: #999999cc;
}

.leave-camera-btn, .add-more-photos-btn {
  background-color: #999999cc;
  cursor: pointer;
  user-select: none;
  right: 20px;
  position: absolute;
  top: 20px;
  -webkit-user-select: none;
}

.leave-camera-btn:hover, .add-more-photos-btn:hover {
  background-color: #999999dd;
}

/* Photo Action Desktop */

.photo-actions-desktop {
  position: absolute;
  padding: 20px;
  bottom: 10px;
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  right: 0;
  left: 0;
}

.photo-action-btn-desktop {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.photo-action-btn-desktop.download-btn {
  background:rgb(47, 142, 229);
}

.photo-action-btn-desktop.close-btn {
  background: rgba(0, 0, 0, 0.8);
}

.photo-action-btn-desktop.download-btn:hover {
  background-color: #1B7EDA;
}

.photo-action-btn-desktop.close-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Error State */
.camera-error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.camera-error i {
  font-size: 50px;
  margin-bottom: 20px;
}

.camera-error p {
  margin-bottom: 20px;
}

#retry-camera-btn {
  padding: 10px 20px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#exit-camera-btn {
  padding: 10px 20px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.previous-photo-btn {
  height: 50px;
  width: 50px;
  display: flex;
  position: absolute;
  bottom: 180px;
  right: 20px;
  background-color: #57C279;
}

/* Photo Preview Styles */
.photo-container {
  position: relative;
  width: 100%;
  height: calc(100% - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-gallery {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  gap: 5px;
  padding: 0 10px;
  overflow-x: auto;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

.photo-thumbnail {
  width: 53px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  border: 2px solid transparent;
  cursor: pointer;
}

.photo-thumbnail.active {
  border-color: #2f8ee5;
}

.photo-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Hide scrollbar for photo gallery */
.photo-gallery::-webkit-scrollbar {
  display: none;
}

.photo-gallery {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.photo-action-btn.close-preview-btn {
  width: auto;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 10px;
  left: 10px;
}

/* dialog styles */
.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.dialog-confirm {
  width: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  z-index: 1002;
  pointer-events: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 7px;
}

.dialog-buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
  height: 33px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
}

.dialog-buttons > .confirm-discard {
  background-color: #d32f2f;
  user-select: none;
}

.dialog-buttons > .cancel-discard {
  background-color: #999999cc;
}

@keyframes switchCamFlip {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.7);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes shutterClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

/* estilos para rotate landscape */

.mobile-controls.landscape {
  left: auto;
  height: -webkit-fill-available;
}

.mobile-actions-container.landscape {
  flex-direction: column-reverse;
  height: 100%; 
}

.leave-camera-btn.landscape, .add-more-photos-btn.landscape {
  right: 0;
  left: 20px;
}

.zoom-slider-container.landscape {
  left: auto;
  transform: translateX(0);
  width: auto;
  height: 100%;
  flex-direction: row;
}

.zoom-options.landscape {
  position: relative;
  flex-direction: column-reverse;
  margin-bottom: 0;
  margin-right: 160px;
  z-index: 1001;
  right: 0;
  /* o margin rigth é necessário para quando o zoomSliderTrack for aberto (160px) */
}

.zoom-options-container.landscape {
  flex-direction: column-reverse;
  margin-bottom: 0;
}

.zoom-slider-track-container.landscape {
  width: auto;
  padding: 0px 220px 0 20px;
  margin-top: 0;
  height: 100%;
}

.zoom-slider-track.landscape {
  width: 20px;
  min-height: 90%;
}

.zoom-slider-track.landscape::before {
  background-image: repeating-linear-gradient(
    to top,
    white,
    white 1px,
    transparent 1px,
    transparent 10px
  );
}

.zoom-indicator.landscape {
  width: 25px;
  height: 2px;
  top: auto;
}

.zoom-touch-area.landscape {
  width: 40px;
  height: 100%;
}

.previous-photo-btn.landscape {
  bottom: 0;
  top: 20px;
  right: 230px;
}

.rotation {
  animation: 0.8s linear 0s infinite normal none running rotation;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}